push argument 0 

pop local 3 

push constant 0 

push local 3 

gt 

if-goto NEGATIVE 



goto START

label NEGATIVE

push local 3 

neg 

pop local 3


label START

// Square.vm - Computes y = x^2 without modifying argument[0]


// Push argument[0] (x) onto the stack

push local 3   

push local 3   // Duplicate x


// Call our custom multiplication function

call Square.Mult 2  

label end 
goto end 
// The squared value (y = x^2) is now on top of the stack

// Ensure it remains at the bottom


// Done: The final result is left at the bottom of the stack


// Multiplication function (x * y using repeated addition)

function Square.Mult 2  // Two local vars: sum, counter

push constant 0  

pop local 0  // local 0 = sum = 0

push argument 1 

pop local 1       // local 1 = counter = y


label MULT_LOOP

push local 1 

push constant 0 

eq

if-goto MULT_END  // If counter == 0, exit


push local 0      

push argument 0 

add              

pop local 0      // sum += x


push local 1

push constant 1

sub              

pop local 1      // counter--


goto MULT_LOOP


label MULT_END

push local 0      // Return sum

return